node_modules
dist
.git
.gitignore
.env
.env.*
*.log
npm-debug.log*
pnpm-debug.log*
coverage
.nyc_output
.DS_Store
.vscode
.idea
*.launch
.settings
*.sublime-workspace
temp
tmp
*.pid
*.seed
*.pid.lock
report.*.json
*.pdf
test
tsconfig.build.tsbuildinfo
